*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logo{
    width: 5.65em;
}
@keyframes logo {
    0%{
        color:greenyellow;;
    }
    35%{
        color: crimson;
    }
    70%{
        color: aqua;
    }
}
.fa-solid{
    animation-name: logo;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.35s;
}
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(2.85em);
    }
}
#hid{
    animation-name: slide;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 2.8em;
    height: 0.96em;
    background-color: white;
    z-index: 1;
    position: absolute;
}
.result, #res{
    cursor: text;
    position: relative;
    text-align: end;
    font-weight: 500;
}
.result{
    border-bottom: 0.2em solid rgb(144, 144, 244);
}
.btn{
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    transition-duration: 0.15s;
    transition-property: all;
    flex-grow: 1;
}
.btn:hover{
    transform: scale(1.05);
}
.btn:active{
    color: white;
    background-color: rgb(109, 107, 107);
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main{
    object-position: bottom;
}

@media screen and (max-width:340px) {
    .row{
        gap: 0.15em;
    }
    .btn{
        cursor: pointer;
        min-width: 3.36328em;
        height: 3em;
        border-radius: 1.2em;
        font-size: 1em;
        text-align: center;
    }
    #res{
        height: 6.9vh;
        max-width: 8.3em;
        font-size: 2em;
        right: 2%;
    }
}

/* For smaller mobile screens */
@media screen and (max-width:356px) and (min-width:340px) {
    .row{
        gap: 0.15em;
    }
    .btn{
        cursor: pointer;
        min-width: 4.2em;
        height: 3em;
        border-radius: 1.2em;
        font-size: 1em;
        text-align: center;
    }
    #res{
        height: 6.9vh;
        max-width: 9.9em;
        font-size: 2em;
        right: 2%;
    }
}

/* For mobile, Tablet, Laptop screens */
@media screen and (min-width:356px) {
    .row{
        gap: 0.21em;
    }
    .btn{
        cursor: pointer;
        min-width: 4.4em;
        height: 3em;
        border-radius: 1.2em;
        font-size: 1em;
        text-align: center;
    }
    #res{
        height: 7.1vh;
        max-width: 10.5em;
        font-size: 2em;
        right: 2%;
    }
}